#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#left_table,
#right_table,
h1 span,
footer {
  border-radius: 25px;
  border: 1px solid black;
  background-color: white;
}
#header_przychody,
#header_wydatki,
footer {
  border-bottom: 1px solid black;
  padding: 10px;
}
h1,
h2 {
  font-size: small;
  text-align: center;
}
body {
  /*Wiem że zdjęcie przy oddaleniu strony na max nie pokrywa całości,
   ale zbliżenie, ktore jest normalnie wyglada całkiem w porzadku */
  background-image: url("images/background_img.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
h1 span,
p {
  padding: 10px;
}
footer {
  background-color: white;
  position: fixed;
  bottom: 0;
}
@media screen and (min-width: 777px) {
  #container {
    flex-direction: row;
  }
  h1 {
    font-size: xx-large;
  }
  h2 {
    font-size: large;
  }
}
